.cssLayout {
	padding-left: 5px;
	margin-left:15px;
}
.cssHBox {
    padding-top: 5px;
    padding-bottom: 5px;
}
.cssBackground {
	background-color:white;
	color:black;
}
.cssWarning {
	color: #FFD700;
	font-style: italic;
}
.cssNote {
	font-size:9px;
	font-style: italic;
}
.cssFormlayout {
    margin:10px;
}
.cssList {
    border-right:1px solid #cccccc;
}
.cssHorizontalLayout{
    margin:0px;
}

.pageBackground {
	background-color:white;
}

.commonmargin{
    margin-left: 3rem;
}
.commoninput{
    width: 15rem;
}

.commonLabel{
    width: 7.5rem;
    padding-top: 1rem;
}

.rowSpace{
    margin-top: 1rem;
}

.blockCell{
    margin-left: 5rem;
}
.commitBtn{
   margin-left: 5rem; 
}

.bordingtitle{
    font-weight: bold;
}

.promotion-selector{
    margin-left: 3rem;
}

.promotion-add-icon{
     margin-left: 9rem;
}

.cssRightPostion{
	float:right;
}

.cssMargin{
	padding-left: 10px;
    padding-right: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
}